.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 40px;
}

.aside {
  /* border: rgba(255, 255, 255, 0.4) 4px solid; */
  display: grid;
  grid-template-rows: 250px 35px 230px;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, #DDA0DD, var(--roxoEscuro));
  border-image-slice: 1;
  border-radius: 6px;
  background: url(../img/pattern-background-aside.svg);
  text-align: center;
  gap: 36px;
  /* background: url(./img/background-light.svg); */
}
.aside a {
  color: white;
}

.ftperfil {
  /* display: inline-block; */
  justify-self: center;
  max-width: 180px;
  margin: 36px 36px;
  border: 3px solid #0000;
  background:
    linear-gradient(to top ,#DDA0DD, var(--roxoEscuro)) padding-box,
    linear-gradient(to top, #DDA0DD,var(--roxoEscuro)) border-box;
  border-radius: 50%;
}
.aside h2 {
  color: #fff;
  /* margin-bottom: 36px; */
  justify-self: center;
  margin: 0px;
  align-self: center;
}
.aside p {
  display: flex;
  color: #fff;
  /* margin-bottom: 36px; */
  max-width: 200px;
  font-size: 1rem;
  justify-self: center;
}
.aside li {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 0rem;
  border-radius: 6px;
  text-transform: uppercase;
}
.aside li img {
  display: inline;
  max-width: 30px;
  max-height: 30px;
}
.aside a {
  align-items: center;
  justify-content: center;
  padding: 1rem 4rem;
  border-radius: 6px;
}
.aside a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: auto;
}
.introducao {
  background: url(../img/pattern-background.svg);
  /* background: url(./img/background-light.svg); */
  color: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
  border: rgba(255, 255, 255, 0.4) 4px solid;
  border-radius: 6px;
}
.introducao h1 {
  font-size: 2rem;
}
.introducao::before {
  content: '';
  width: 100px;
  height: 5px;
  background: var(--roxoEscuro);
  position: absolute;
  top: 30px;
  right: -50px;
}
.botao {
  background: linear-gradient(var(--roxoClaro), var(--roxoEscuro));
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-transform: uppercase;
}
.botao p {
  margin-top: 5px;
}
.botao p:after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background: white;
  margin-top: 1px;
  transition: 0.3s;
}
.botao p:hover:after {
  width: 100%;
}
.imagemIntro img{
  object-fit: cover;
  height: 100%;
  outline: 4px solid rgba(191, 0, 255, 0.4);
  outline-offset: -4px;
  border-radius: 4px;
}
.rodape{
  background: url(./img/pattern-background.svg);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}